/*Container*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px 64px;
  background: #fafbfc;
}

/*Header*/
.header {
  padding-top: 24px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

.header-left {
  width: 20%;
  margin-right: auto;
}

.header-right {
  width: 75%;
  background-color: #d5f8e1;
  padding: 16px 24px 24px 24px;
  border-radius: 8px;
  position: relative;
}

.header-fb-link {
  position: absolute;
  right: 16px;
}

.header-right .fa-facebook {
  font-size: 24px;
}

/*Avatar*/
.avatar-img {
  border-radius: 50%;
}

/*Contacts Item*/
.contacts-item {
  position: relative;
  padding-left: 32px;
  font-size: 18px;
  line-height: 1.33;
}

.contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.contacts-item-icon {
  position: absolute;
  left: 0;
  top: 0;
  color: #fdc700;
}

.contacts-item-data {
  font-weight: 700;
  color: #8b8e90;
}

/*Messenger Links*/
.messenger-links {
  margin-top: 12px;
}

.messenger-links-item {
  font-size: 24px;
}

.messenger-links-item:not(:last-child) {
  margin-right: 4px;
}

/*Section*/
.section:not(:last-child) {
  margin-bottom: 64px;
}

.section-title {
  margin: 0;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #4fc87a;
  color: #fff;
}

/*Subsection Header*/
.subsection-header {
  margin-top: 0;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subsection-header-title {
  font-size: 24px;
}

.subsection-header-subtitle {
  font-size: 18px;
  color: #8b8e90;
}

.subsection-header-info {
  font-size: 16px;
}

/*Icon Item*/
.icon-item {
  margin-bottom: 8px;
}

.icon-item .fas {
  color: #fdc700;
}

.icon-item .icon-item-name {
  padding-left: 4px;
  font-weight: 500;
}

/*Progress*/
.progress {
  background-color: #d1d5d8;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px;
}

.progress-inner {
  background-color: #4fc87a;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
}

/*Accordion*/
.accordion-item:not(:last-child) {
  margin-bottom: 16px;
}

.accordion-toggle {
  color: #4fc87a;
  transition: color .3s ease-in-out;
}

.accordion-toggle.active {
  color: #fdc700;
}

.accordion-toggle {
  cursor: pointer;
  padding-left: 1.25em;
  position: relative;
  margin-bottom: 16px;
}

.accordion-toggle:before {
  font-family: "Font Awesome 5 Free" !important;
  font-weight: 900;
  content: "\f067";
  position: absolute;
  top: 0.125em;
  left: 0;
  color: #fdc700;
}

.accordion-toggle.active:before {
  transform: rotate(45deg);
}

.accordion-slide {
  height: 0;
  overflow-y: hidden;
  transition: all .3s ease-in-out;
}

.accordion-slide.active {
  height: auto;
  overflow-y: unset;
}

@media screen and (min-width: 992px){
  /*Contacts*/
  .contacts {
    max-width: 700px;
  }

  .contacts-left {
    float: left;
  }

  .contacts-right {
    float: right;
  }

  /*Section*/
  .section {
    display: flex;
  }

  .section-left {
    flex: 0 0 320px;
    padding-right: 24px;
  }

  .section-right {
    flex: 1;
    border-left: 4px solid #4fc87a;
    padding-left: 16px;
  }

  /*Accordion*/
  .accordion-toggle:hover {
    color: #fdc700;
  }
}

@media screen and (max-width: 991px) {
  /*Header*/
  header {
    flex-flow: column;
  }

  .header-fb-link {
    background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: -8px;
    right: -8px;
  }

  .header-fb-link .fa-facebook {
    font-size: 32px;
  }

  .header-left {
    width: auto;
    max-width: 240px;
    margin-right: unset;
    margin-bottom: 24px;
  }

  .header-right {
    width: auto;
  }

  .header h1 {
    font-size: 32px;
    text-align: center;
  }

  /*Contacts*/
  .contacts-left {
    margin-bottom: 8px;
  }

  /*Messenger Links*/
  .messenger-links-item {
    font-size: 32px;
  }

  /*Section*/
  .section-left {
    margin-bottom: 32px;
  }

  /*Subsection Header*/
  .subsection-header {
    flex-flow: column;
    align-items: flex-start;
  }
}

