@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  color: #454748;
}

a {
  text-decoration: none;
  color: #4fc87a;
  transition: color .3s ease-in-out;
}

a:hover {
  color: #fdc700;
}

h1 {
  font-size: 48px;
  color: #4fc87a;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.ul-text {
  padding-left: 16px;
  margin: 4px 0 16px;
}

.ul-text .ul-text {

}
